/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  margin: 0;
  font-family: helvetica;
  position: relative;
}
.text {
  font: bold 48px monospace;
}
/*.asteroid {
  background-image: url('asteroid2.png');
  background-size: 100% 100%;
  position: absolute;
  width:256;
  height: 256;
}*/
.enter {
  fill: green;
}

.update {
  fill: #333;
}

.gameBoard{
  background-image: url('space-background.jpg');
  width: 75%;
  height: 800;
  margin: 0 auto;
  border: 2px solid #333;
}
.box {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
/*.asteroid{
 position:absolute;
 content:url(asteroid.png);
 height:50px;
 width:50px;
 top: 250px;
 left: 925px;
 -webkit-animation-name: rotate;
 -webkit-animation-duration:5s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function:linear;
}*/

/*@-webkit-keyframes rotate {
 from { -webkit-transform: rotate(360deg); }
 to { -webkit-transform: rotate(0deg); }
}*/
.asteroid{
-webkit-animation-name: spin;
    -webkit-animation-duration: 50000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 50000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 50000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 50000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(80deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(80deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(80deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(80deg);
    }
}
